/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2020, 11:37:40 AM
    Author     : zhang xia
*/

.img-logo{
    weight: 40px;
    height: 30px;
}
header.a{
    color: red;
    align: middle;
}

a.size{
    color: gray;
    text-decoration: none;
}

p{
    text-indent: 2em;
}

span.start{
    font-weight: bold;
}
.span-a{
    font-weight: normal;
    color: red;
    text-decoration: none;
}